<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="estilos/mascotas.css">
    <script src="tienda.js" async></script>
    <title>Mascotas</title>
</head>
<body>
    <header>

        <div class="btn-container">
            <a href="inicio.html" class="btn-neon">
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
            <span id="span4"></span>
            Perros</a>

            <a href="inicio.html" class="btn-neon">
                <span id="span1"></span>
                <span id="span2"></span>
                <span id="span3"></span>
                <span id="span4"></span>
                Gatos</a>
    
        <section class="textos-header">
            <h1>Mascotas</h1>
                </section>

                
    </header>
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Perrito 1</span>
                <img src="imagenes/1.jpeg" alt="" class="img-item">
                <span class="precio-item">Edad</span>
                <button class="boton-item">Adoptar</button>
            </div>
            <div class="item">
                <span class="titulo-item">Perrito 2</span>
                <img src="imagenes/2.jpeg" alt="" class="img-item">
                <span class="precio-item">Edad</span>
                <button class="boton-item">Adoptar</button>
            </div>
            <div class="item">
                <span class="titulo-item">Perrito 3</span>
                <img src="imagenes/3.jpeg"alt="" class="img-item">
                <span class="precio-item">Edad</span>
                <button class="boton-item">Adoptar</button>
            </div>
            <div class="item">
                <span class="titulo-item">Perrito 4</span>
                <img src="imagenes/4.jpeg" alt="" class="img-item">
                <span class="precio-item">Edad</span>
                <button class="boton-item">Adoptar</button>
            </div>
            <div class="item">
                <span class="titulo-item">Perrito 5</span>
                <img src="imagenes/5.jpeg" alt="" class="img-item">
                <span class="precio-item">Edad</span>
                <button class="boton-item"><a href="perfilmascota.html">Adoptar</a></button>
                
            </div>
            <div class="item">
                <span class="titulo-item">Perrito 6</span>
                <img src="imagenes/6.jpeg" alt="" class="img-item">
                <span class="precio-item">Edad</span>
                <button class="boton-item"><a href="perfilmascota.html">Adoptar</a></button>
            </div>
            <div class="item">
                <span class="titulo-item">Perrito 7</span>
                <img src="imagenes/7.jpeg"alt="" class="img-item">
                <span class="precio-item">Edad</span>
                <button class="boton-item">Adoptar</button>
            </div>
            <div class="item">
                <span class="titulo-item">Perrito 8</span>
                <img src="imagenes/8.jpeg" alt="" class="img-item">
                <span class="precio-item">Edad</span>
                <button class="boton-item">Adoptar</button>
            </div>
            <div class="item">
                <span class="titulo-item">Perrito 9</span>
                <img src="imagenes/1.jpeg" alt="" class="img-item">
                <span class="precio-item">Edad</span>
                <button class="boton-item">Adoptar</button>
            </div>
        </div>
        
        
            <!-- Agrega más botones si es necesario -->
        
        
</body>

</html>